<html>  
 <head>  
 <title>Gráfica</title>  
 </head>  
 <body>
<script id="GblId1452" type="text/javascript">
    function getEmbedMetaDataGblId1452() {
        return {
            "apiKey": '695ae44b-9cd8-3cde-8d19-fc2cb2937a5c',
            "orgUid": '7c4ca240-5c86-35a4-bd0c-6e9f1448583c',
            "dashUid": '11c864cf-2113-3964-9ad7-e2cf2f7a1e23',
            "widgetUid": 'd315a2dc-485c-3e89-95ac-38a90dfb1a7f',
            "cType": 'http',
            "embedHeight": 300,
            "embedWidth": 430,
            "embedBorder": true
        };
    }
</script>
<div id="embedWidgetDivGblId1452"></div>
<script type="text/javascript" src="https://grovestreams.com/js/embed.js"> </script>
 	<div style="text-align:center; width:100%">
  <div id="embedWidgetDivGblId839" style="text-align:center; width:100%"></div>

  <br><br><br>

 	<a href = "/">Volver</a><br>  

 </div>
 </body>  
 </html> 
